@font-face { font-family: pixel; src: url("Pixellettersfull-BnJ5.ttf"); }
@font-face { font-family: epic; src: url("Ka Blam.ttf"); }

#start{
    width: 300px;
    height: 200px;
    position: fixed;
    top: 600px;
    left: 800px;
    background-color: white;
    border: 2px solid black;
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    z-index: 1;
    
    

    
}

#start:hover{
    background-color: black;
    color: white;
}



#rock{
    opacity: 0;
}

#paper{
    opacity: 0;
}

#scissors{
    opacity: 0;
}

#title{
    font-size: 60px;
    font-family: pixel;
    color: black;
    position: fixed;
    top: 100px;
    left: 690px;
    z-index: 1;
    
}
#mania{
     font-size: 80px;
    font-family: pixel;
    color: black;
    position: fixed;
    top: 170px;
    left: 840px;
    z-index: 1;
    
}

#store{
    width: 300px;
    height: 180px;
    position: fixed;
    top: 610px;
    left: 450px;
    background-color: white;
    border: 2px solid black;
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    
}

#store:hover{
    background-color: black;
    color: white;
}

#credits{
    width: 300px;
    height: 180px;
    position: fixed;
    top: 610px;
    left: 1150px;
    background-color: white;
    border: 2px solid black;
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    z-index: 1;
   
}
#credits:hover{
    background-color: black;
    color: white;
}

#tutorial{
    background-color: black;
    width: 2000px;
    height: 1000px;
   
    position: fixed;
    top: 0px;
    left: 0px;
    
}

#howto {
    font-size: 80px;
    font-family: pixel;
    color: white;
    position: fixed;
    top: 170px;
    left: 750px;
    z-index: 1;
}

#explain{
    font-size: 60px;
    font-family: pixel;
    color: white;
    position: fixed;
    top: 330px;
    left: 430px;
    z-index: 1;
}

#explain2{
    font-size: 60px;
    font-family: pixel;
    color: white;
    position: fixed;
    top: 500px;
    left: 200px;
    z-index: 1;
}

#explain3{
    font-size: 60px;
    font-family: pixel;
    color: rgb(255, 251, 0);
    position: fixed;
    top: 600px;
    left: 770px;
    z-index: 1;
}

#play{
    width: 300px;
    height: 100px;
    position: fixed;
    top: 730px;
    left: 785px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 251, 0);
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    z-index: 1;
    color: rgb(255, 251, 0);
}

#play:hover{
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
}

#bot{
    width: 150px;
    position: fixed;
    right: 80px;
    top: 40px;

    
}

#botname{
    width: 150px;
    position: fixed;
    right: 250px;
    top: 90px;
    font-family: pixel;
    font-size: 80px;
    color: white;
}

#game{
    display: none;
}


#selecttitle{
    font-size: 60px;
    font-family: pixel;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 700px;
    left: 700px;
    
}

#rockplayer{
    width: 300px;
    height: 100px;
    position: fixed;
    top: 800px;
    left: 400px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    color: rgb(255, 255, 255);
}

#rockplayer:hover{
    background-color: rgb(255, 0, 0);
    border-color: red;
    color: rgb(255, 255, 255);

}

#paperplayer{
    width: 300px;
    height: 100px;
    position: fixed;
    top: 800px;
    left: 785px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    color: rgb(255, 255, 255);
}

#paperplayer:hover{
    background-color: rgb(255, 0, 0);
    border-color: red;
    color: rgb(255, 255, 255);

}

#scissorplayer{
    width: 300px;
    height: 100px;
    position: fixed;
    top: 800px;
    left: 1165px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    color: rgb(255, 255, 255);
}

#scissorplayer:hover{
    background-color: rgb(255, 0, 0);
    border-color: red;
    color: rgb(255, 255, 255);

}

#aiwin{
    color:aliceblue;
    position: fixed;
    top: 300px;
    left: 1000px;
    font-family: pixel;
    font-size: 60px;
    opacity: 0;
}

#youwin{
    color:aliceblue;
    position: fixed;
    top: 300px;
    left: 1000px;
    font-family: pixel;
    font-size: 60px;
    opacity: 0;
}
#tie{
    color:rgb(255, 255, 255);
    position: fixed;
    top: 300px;
    left: 1000px;
    font-family: pixel;
    font-size: 60px;
    opacity: 0;
}


#return{
    width: 300px;
    height: 100px;
    position: fixed;
    top: 800px;
    left: 300px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    font-size: 40px;
    font-family: pixel;
    transition-duration: 0.4s;
    color: rgb(255, 255, 255);
}

#return:hover{
    background-color: rgb(255, 0, 0);
    border-color: red;
    color: rgb(255, 255, 255);

}

#end{
    display: none;
}